<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <% @client.errors.full_messages.each do |message| %>
        <span class="error-message"><%= message %></span>
      <% end %>
    </div>
  <% end %>


  <div class="row">
    <div class="col-md-6">
      <%= f.text_field :first_name, :placeholder => "First name *" %>
    </div>
    <div class="col-md-6">
      <%= f.text_field :last_name, :placeholder => "Last name *" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= f.email_field :email, :placeholder => "E-mail *" %>
    </div>
  </div>
<!--   <div class="row">
    <div class="col-md-12">
      <%= f.email_field :email, :placeholder => "Confirm E-mail *" %>
    </div>
  </div> -->

  <div class="actions">
    <%= f.submit (action_name=="new" ? "Submit" : "Update") %>
  </div>
<% end %>
