<!DOCTYPE html>
<html>
<head>
  <title>Camcorder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://jwpsrv.com/library/vr8MHt0HEeSwZAp+lcGdIw.js"></script>
  <script src="https://cdn.webrtc-experiment.com/MediaStreamRecorder.js"> </script>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

<div class="container">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <div class="navbar-brand">Camcorder</div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li data-controller='clients'><a href="/clients">Clients</a></li>
          <li data-controller='videos'><a href="/videos">Videos</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="jumbotron">
    <%= yield %>
  </div>

</div>

</body>
</html>